<launch>
    <include file="$(find ouijabot)/launch/params.launch" />
    <node name="joystick" pkg="joy" type="joy_node" output="screen" />
    <node name="joy_active" pkg="hamilton_ac" type="joy_active.py" output="screen" />
    <include file="$(find vrpn_client_ros)/launch/optitrack.launch" />
    <include file="$(find hamilton_ac)/launch/ac_params.launch" />
    <node name="ref_node" pkg="hamilton_ac" type="joy_ref.py" output="screen">
        <param name="max_lin_vel" value="10.0"/>
        <param name="max_ang_vel" value="10.0"/>
        <param name="lin_accel_scale" value="30.0"/>
        <param name="ang_accel_scale" value="20.0"/>
        <param name="vel_decay" value="2.0" />
        <param name="max_delay" value="1.0"/>
    </node>
</launch>
