<launch>
    <node name="ref_node" pkg="hamilton_ac" type="joy_ref.py" output="screen">
        <param name="max_lin_vel" value="1.0"/>
        <param name="max_ang_vel" value="1.0"/>
        <param name="lin_accel_scale" value="5.0"/>
        <param name="ang_accel_scale" value="5.0"/>
        <param name="vel_decay" value="5.0" />
        <param name="max_delay" value="1.0"/>
    </node>
</launch>
